@import url("./header.css");
@import url("./nav.css");
@import url("./footer.css");

main {
	grid-area: main;
	margin: 1.2em;
}

#sidebar {
	grid-area: sidebar;
	background: #ececec;
	margin: 1.2em 0 1.2em 0;
	border-radius: 4px 0 0 4px;
	border: 1px solid #cecece;
}

body {
	min-height: 100vh;
	grid-template-columns: 2fr 75fr 23fr;
	grid-template-rows: minmax(calc(100vh - var(--nav-height)), auto) var(--nav-height);
	grid-template-areas: 'header header header'
	'nav nav nav'
	'. main sidebar'
	'footer footer footer';
}

chat-app {
	width: 400px;
}

chat-app.left {
	left: 5px;
}

chat-app.right {
	right: 5px;
}
